.main-bar
  .main-bar__main-header
    .main-bar__main-header__left
      %h2.main-bar__main-header__left__group
        = @group.name
      %h3.main-bar__main-header__left__member
        Menber - bbb
    .main-bar__main-header__right
      .main-bar__main-header__right__btn
        = link_to "#" do
          %span<>
          編集

  .main-bar__main-messages
    = render @messages

  .main-bar__main-form
    = form_for [@group, @message], html:{class:"main-bar__main-form__submit"} do |f|
      .main-bar__main-form__submit__box
        = f.text_field :content, class: 'main-bar__main-form__submit__box__text', placeholder: 'メッセージを入力'
      .main-bar__main-form__submit__box__img
        = f.label :image, class: 'main-bar__main-form__submit__box__img__file' do
          = icon('far', 'image')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'main-bar__main-form__submit__btn'
      
